.App {
  text-align: center;
  background-color: #142931;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.App-logo {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70%;
  max-width: 300px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main {
  max-width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

a{
  color: #FFCB06;
}

.list {
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  display: block;
  padding: 30px 15px;
  width: 100%;
  box-sizing: border-box;
  background: #061117;
}